# OS
**/.DS_Store
*.pem

# Logs
logs

# nyc test coverage
.nyc_output
coverage

# Dependency directories
node_modules/

# Build
dist
*.zip
build

# Environment variables & secrets
.env
.env.local
.env.*.local

# next.js
.vercel
**/.next/
**/out/
next-env.d.ts
