/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
}

/* Header */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: white;
}

header .logo {
	display: flex;
	align-items: center;
}

header .logo img {
	height: 40px;
	margin-right: 10px;
	user-select: none;
}

header .logo h1 {
	display: block;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1.5;
	user-select: none;
}

.version {
	font-size: 8px;
	color: #777;
	user-select: none;
	align-self: flex-end;
}

/* Main Container */

.container {
	position: relative;
	padding: 2px 30px;
	margin-top: 100px;
}

/* Preferences Category Section */

section.category-wrapper {
	margin: 16px 0px;
	padding: 12px 14px;
	background-color: white;
	border-radius: 8px;
}
section.category-wrapper > h2.category-title {
	font-size: 1.4rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Category Preferences Container */

.preferences,
.shortcuts {
	margin: 12px 4px;
	/* background-color: red; */
}

/* Individual Preference Container */

.preference,
.shortcut {
	/* background-color: blue; */
	margin: 8px 0px;
	padding: 4px 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1.3em;
	cursor: pointer;
	user-select: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.numeric {
	display: flex;
	flex-direction: row;
	justify-content: end;
	border: 2px solid #ccc;
	border-radius: 5px;
}

/* Inputs */

input.simple-input {
	width: 174px;
	box-shadow: none;
	border: 2px solid #ccc;
	text-align: center;
}

input.simple-input:focus {
	border: 2px solid #ccc;
	box-shadow: none;
}

input.key {
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 5px;
}

input.with-arrows {
	width: 80px;
	text-align: center;
	border: none;
}

input.with-arrows:focus {
	border: none;
}

label.arrows {
	min-height: fit-content;
	padding: 0.8em 1.2em;
}
label.arrows:hover {
	background-color: #3b3b3b;
	color: white;
}
/* Actions Status */

#status {
	height: 100%;
	font-size: 12px;
	padding: 2px 14px;
	border-radius: 8px;
	color: #9d9d9d;
	display: inline-block;
}

/* Actions Container */

.actions {
	margin: 40px 0px;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.actions > button {
	display: inline-flex;
	margin: 0px 8px;
	min-height: fit-content;
	min-width: fit-content;
	height: 40px;
	align-items: center;
}
