@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 100% 98%;
    --foreground: 0 100% 2%;

    --card: 36 100% 98%;
    --card-foreground: 0 100% 2%;

    --popover: 36 100% 98%;
    --popover-foreground: 0 100% 2%;

    --primary: 210 98.6% 14%;
    --primary-foreground: 36 100% 98%;

    --secondary: 210 20.4% 60%;
    --secondary-foreground: 0 100% 2%;

    --muted: 210 20.4% 60%;
    --muted-foreground: 210 9.2% 79%;

    --accent: 36 94.1% 58.1%;
    --accent-foreground: 0 100% 2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 100% 98%;

    --border: 210 20.4% 60%;
    --input: 36 100% 98%;
    --ring: 210 98.6% 88%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: subpixel-antialiased!;
    -webkit-text-stroke: 1px transparent;
  }
}
