/* General styling */
* {
	box-sizing: border-box;
	transition: all 0.3s ease;
}

#metadata-toppings {
	height: fit-content;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	padding: 12px 15px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

div#toppings-header {
	margin-bottom: 6px;
	width: 100%;
	display: flex;
	align-items: center;
}

div#toppings-header * {
	margin: 0px 6px;
}

img#toppings-icon {
	width: 24px;
}

h2#toppings-heading {
	font-size: 1.6rem;
	color: #212121;
	margin-left: 10px;
}

div#playlist-runtime-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	padding-left: 10px;
	color: #757575; 
}

/* On hover effects for better user feedback */
#metadata-toppings:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


