/* General styling */
* {
	box-sizing: border-box;
	transition: all 0.3s ease;
}

#metadata-toppings {
	height: fit-content;
	border: 1px solid #ddd;
	border-radius: 16px;
	/* background-color: transparent; */
	background: rgba(255, 255, 255, 0.4);
  	backdrop-filter: saturate(180%) blur(10px);
	  -webkit-backdrop-filter: blur(11.3px);
	font-family: 'Roboto', sans-serif;
	padding: 12px 15px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

div#toppings-header {
	margin-bottom: 6px;
	width: 100%;
	display: flex;
	align-items: center;
}

div#toppings-header * {
	margin: 0px 6px;
}

img#toppings-icon {
	width: 24px;
}

h2#toppings-heading {
	font-size: 1.6rem;
	font-weight: 800;
	color: #0c0c0c;
	margin-left: 10px;
}

div#playlist-runtime-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 400;
	color: #343434; 
}

/* On hover effects for better user feedback */
#metadata-toppings:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


